dist/
node_modules/
roms/
covers/
express/preview/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
x64/
x86/
bld/
bin/
obj/
[Ll]og/
.vs/