<div class="landing-page container">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>About Me</h1>
        <p class="readable"><i>"There is a difference between winging it and seeing what happens...<br/>Now let's see what happens!" </i>- MacGruber</p>
    </div>
  </div>
  <div class="row readable">
    <div class="col-sm-6 offset-sm-3">
        <div class="team-member wow zoomIn animated" style="visibility: visible;">
            <img src="assets/images/me.jpg" class="img-responsive img-circle" alt="">
            <h4><span class="navy">Brian</span> Ushman</h4>
            <ul class="list-inline social-icon">
                <li class="list-inline-item"><a href="mailto:admin@nesp2p.com"><i class="fa fa-envelope"></i></a></li>
                <li class="list-inline-item"><a href="http://www.linkedin.com/in/brian-ushman-b115599b" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
  </div>
  <div class="row readable">
    <div class="col-lg-8 offset-lg-2 text-center m-t-md m-b-md">
        <p>Thanks for stopping by. I built this page to demonstrate my programming abilities.</p>
        <p>And well... Also wanted the ability to play NES games against my friends online.</p>
        <p><br/>I've been a fullstack software developer for over 15 years in many different industries. It has been a challenge but have enjoyed every day.  If you have a project that needs an experienced developer or just want to send me a note about my website, contact me at the links above.</p>
    </div>
  </div>
</div>