<div class="carousel-3d-container">
    <div [hidden]="isLoading" [ngSwitch]="isSuccessful" >
        <div #carousel3D class="carousel-3d" [hidden]="!isRendered && !isSuccessful">
            <ng-content></ng-content>
        </div>
        <p  [hidden]="isSuccessful"  class="carousel-3d-loader-error">There was a problem during load</p>
        <div *ngIf="controls" class="carousel-3d-controls">
            <i class="fas fa-hand-point-left carousel-3d-next" (click)="options.dir === 'ltr' ? goNext() : goPrev()" [ngClass]="{ 'disabled' : carousel3d.isFirstSlide() }"></i>
            <i class="fas fa-hand-point-right carousel-3d-prev" (click)="options.dir === 'ltr' ? goPrev() : goNext()" [ngClass]="{ 'disabled' : carousel3d.isLastSlide() }"></i>
        </div>
    </div>
</div>