.carousel-3d-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin: 20px auto;
}
.carousel-3d {
  position: relative;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}
.carousel-3d.ng-hide {
  opacity: 0;
}
.carousel-3d.ng-hide-remove {
  transition: opacity linear 1000ms;
}
.carousel-3d.ng-hide-add {
  transition: opacity linear 500ms;
}

/*====================================*/
.carousel-3d-controls {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  z-index: 9099;
}
.carousel-3d-next,
.carousel-3d-prev {
  width: 60px;
  font-size: 48px;
  position: absolute !important;
  z-index: 9999;
  color: #333;
}
.carousel-3d-next:hover,
.carousel-3d-prev:hover {
  cursor: pointer;
  color: #007BFF;
}
.carousel-3d-next {
  left: 0;
}
.carousel-3d-prev {
  right: 0;
}
.carousel-3d-next.disabled,
.carousel-3d-prev.disabled,
.carousel-3d-next.disabled:hover,
.carousel-3d-prev.disabled:hover {
  cursor: default;
  color: #ccc;
}