<nav class="navbar navbar-static-top" role="navigation">
    <ul class="nav navbar-top-links pull-left">
        <li>
            <a class="m-r-sm text-muted welcome-message" href="/" style="text-align: center;">NES P2P</a>
        </li>
        <li>
            <a href="/"><img src="/assets/images/pacman.png" height="12px"></a>
        </li>
    </ul>
    <ul class="nav navbar-top-links pull-right">
        <li class="">
            <a class="">
                <i class="fa fa-envelope-open" (click)="send_invite()" title="Invite Friends To Play"></i>
            </a>
        </li>
        <li class="">
            <a href="/about">About/Contact</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>