<div class="col-sm-12" style="height: 80px; margin-top: 10px;">
  <div class="col-sm-12" style="display: flex; justify-content: center;">
    <img src="/assets/images/controller-color.png" height="75" style="margin-right: 25px;">
    <h1 style="font-size: 60px; font-weight: bold; margin-top: 0; margin-bottom: 0; font-family: 'nes'">NES P2P</h1>
    <img src="/assets/images/mario.png" height="75" style="margin-left: 25px;">
  </div>
</div>
<div class="col-sm-12 center" style="margin-top: 25px">
  <div class="row col-sm-12 center">
    <h2 style="font-family: 'nes'">NES P2P (Nintendo Peer-Peer)</h2>
  </div>
  <div class="row col-sm-12 center" style="font-family: 'nes'">
    <button type="button" class="btn btn-lg btn-primary" onclick="window.location.href='/offline-lobby'" style="margin-right: 2px">Offline Mode</button>
    <button type="button" class="btn btn-lg btn-primary" onclick="window.location.href='/lobby'">Online Mode</button>
  </div>
  <div class="row col-sm-12 center" style="margin-top: 15px">
    <p>This is a hobby project which allows a user to play offline or online against their friends.  Select a mode to get started!</p>
  </div>
</div>